# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# DVC & data (we'll use later)
# Ignore data folders, but NOT .dvc metadata files
data/**
!data/*.dvc
!data/**/*.dvc

.cache/

# MLflow (later)
mlruns/

# Pytest cache
.pytest_cache/
